/* Meta */
@import url('../../css/global/global.css');

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Shared */
section,
.about div,
.about article,
.news form,
.news form button,
.warning {
  display: flex;
}

section {
  margin-top: 10rem;
}

.ideogram {
  width: 2rem;
  margin: 0 auto 0.5rem auto;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  color: var(--color-txt);
  text-align: center;
  margin: 0 auto 2rem auto;
}

/* Section: Highlight */
.highlight {
  flex-direction: column;
  margin-top: 15rem;
}

/* Highlight: Carousel */
.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel-inner {
  border-radius: 5px;
  box-shadow: 0 5px 20px var(--color-black);
}

.carousel-inner h5,
.carousel-inner p {
  color: var(--color-txt);
  text-shadow: 0 1px 5px var(--color-black);
}

.carousel-inner h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Section: Guide */
.guide {
  flex-direction: column;
  align-items: center;
  margin: 12rem auto -2rem auto;
}

.special {
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-bg);
  background-color: var(--color-txt);
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
  margin: 0.5rem auto;
}

.section-txt {
  width: 70%;
  font-weight: 300;
  text-align: justify;
  hyphens: auto;
  margin: 0 auto 2rem auto;
}

.guide a {
  width: fit-content;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-txt);
  background-color: var(--color-red);
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.guide a:active {
  background-color: var(--color-dred);
}

/* Section: Newsletter */
.news {
  flex-direction: column;
  margin-top: 15rem;
}

.news form {
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
}

.news form label {
  font-weight: 600;
}

.news form input {
  width: 20rem;
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
}

.news form button {
  align-items: center;
  justify-content: center;
  width: 8rem;
  font-weight: 600;
  color: var(--color-txt);
  background-color: var(--color-red);
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 5px;
}

.news form button:active {
  background-color: var(--color-dred);
}

.warning {
  gap: 0.5rem;
  margin: 0.5rem auto 0 auto;
  visibility: hidden;
}

.warning img {
  width: 1.25rem;
}

.warning p {
  font-size: 0.75rem;
  color: var(--color-red);
}

.warning .green {
  color: var(--color-green);
}


.spinner {
  width: 1.5rem;
  animation: spin 1s linear infinite;
}

/* Section: About */
.about,
.about div,
.about article {
  display: flex;
}

.about,
.about article {
  flex-direction: column;
}

.about {
  margin: 12rem auto 5rem auto;
}

.about div {
  flex-direction: row;
  justify-content: space-evenly;
}

.about article {
  width: 20%;
  align-items: center;
  padding: 1.5rem;
  border-radius: 5px;
  gap: 1rem;
}

.about article h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.about article img {
  width: 12rem;
  border-radius: 5px;
  box-shadow: 0 5px 20px var(--color-black);
}

.about article p {
  font-weight: 300;
  text-align: justify;
  hyphens: auto;
}

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Section: Highlight */
  /* Highlight: Carousel */
  .carousel-indicators button {
    visibility: hidden;
  }

  .carousel-inner h5 {
    font-size: 1rem;
    margin-bottom: -4rem;
  }

  .carousel-inner p {
    display: none;
  }

  /* Section: Newsletter */
  .news form button {
    width: 10rem;
  }

  /* Section: About */
  .about div {
    flex-direction: column;
    align-items: center;
  }

  .about article {
    width: 60%;
  }

  .about article img {
    width: 8rem;
  }
}

/* Media query for smartphones */
@media only screen and (max-width: 768px),
(max-height: 768px) {

  /* Shared */
  section {
    margin-top: 5rem;
  }

  .guide, 
  .news {
    margin: 5rem auto -2rem auto;
  }

  /* Section: Highlight */
  .highlight {
    margin-top: 7rem;
  }

  /* Highlight: Carousel */
  .carousel {
    width: 100%;
  }

  .carousel-inner {
    border-radius: 0;
    box-shadow: 0 5px 20px var(--color-black);
  }

  .carousel-indicators button,
  .carousel-inner h5,
  .carousel-inner p {
    display: none;
  }

  /* Section: Guide */
  .section-txt {
    width: 70%;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: justify;
    margin: 0 auto 2rem auto;
  }

  /* Section: Newsletter */
  .news .section-subtitle {
    margin: 0  0.5rem 1.5rem 0.5rem;
  }

  .news form {
    flex-direction: column;
    gap: 1rem;
  }

  .news input {
    margin-top: -0.5rem;
  }

  /* Section: About */
  .about {
    margin: 5rem auto 2rem auto;
  }

  .about .section-subtitle {
    margin: 0 0.2rem;
  }

  .about div {
    flex-direction: column;
    align-items: center;
  }

  .about article {
    width: 80%;
  }

  .about article img {
    width: 8rem;
    border-radius: 5px;
    box-shadow: 0 5px 20px var(--color-black);
  }
}