@import url("../css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color-bg: #1f1f1f;
    --color-txt: #f9f6f3;
    --color-white: #fff;
    --color-black: #000;
    --color-red: #e12124;
    --color-header: #2b2a33;
    --big-font: 3.2rem;
    --h2-font: 2rem;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

section {
    padding: 50px 10%;
}

body {
    color: var(--color-txt);
    background: var(--color-bg);
}

.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #53504f;
    gap: 1.5rem;
}

.home-img img {
    width: 90%;
}

.home-text h3 {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    padding: 12px;
    width: 250px;
    text-align: center;
    border-radius: 2rem;
    background: #000000;
}

.home-text h1 {
    font-size: var(--big-font);
}

.home-text span {
    color: var(--color-txt);
}

.home-text p {
    max-width: 80%;
    margin: 1rem 0 1.1rem;
}

.btn {
    background: var(--main-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2rem;
    color: #0f0000;
    background-color: #000;
}

.btn:hover {
    background: #969595;
}

.heading {
    text-align: center;
}

.heading p {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.heading h2 {
    font-size: var(--h2-font);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    margin-top: 4rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.box h2 {
    font-size: 1.2rem;
    margin: 1.7rem 0 1rem;
}

.food-trail .trail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.food-trail .trail-container .trail-box {
    position: relative;
    height: 420px;
    flex: 1 1 18rem;
    overflow: hidden;
}

.food-trail .trail-container .trail-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-trail .trail-container .trail-box .text {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 8rem;
    background: rgba(73, 71, 71, 0.78);
    transition: 0.5s;
}

.food-trail .trail-container .trail-box:hover .text {
    top: 0;
}

.food-trail .trail-box .text h2 {
    font-size: 1.2rem;
}

.food-trail .trail-box .text p {
    margin: 0.4rem 0 1rem;
}

.trail-box .btn {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    padding: 12px;
    width: 150px;
    text-align: center;
    border-radius: 2rem;
    background: #000000;
}

.trail-box .btn:hover {
    background-color: #969595;
}

@media (max-width: 991px) {
    section {
        padding: 50px 4%;
    }

    :root {
        --big-font: 2.7rem;
        --h2-font: 1.7rem;
    }
}

@media (max-width: 768px) {
    :root {
        --big-font: 2rem;
        --h2-font: 1.4rem;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .home-text {
        padding-top: 2rem;
    }
}