/* Meta */
@import url('../../css/global/global.css');


/* Global */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

section {
    margin-top: 10rem;
}

/* Section */
.recipes {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.recipes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 25px auto;
}

/* Filter */

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--color-red);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    position: sticky;
    top: 6.5rem;
    z-index: 1;
    background-image: url('../../img/recipes/receitas/texture02.png');
    background-repeat: repeat;
    background-size: 30%;
}

.filter-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.filter-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    background-color: rgba(225,33,36, .6);
    border: 2px solid var(--color-white);
    color: var(--color-txt);
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    transition: background-color 0.2s;
    font-weight: 600;
}

.filter-btn:hover {
    background-color: rgba(140, 21, 23, .6);
}

.active {
    background-color: var(--color-white);
    color: var(--color-red);
}

.active:hover {
    background-color: #d5d5d5;
}

/* Recipes */

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    justify-items: center;
    overflow: visible;
    padding: 10px 15px;
    width: 100%;
}

.recipe-card {
    background-color: var(--color-white);
    max-width: 100%;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0em 0em 2em rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: none;
}

.show {
    display: block;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card a {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--color-txt);
}

.img-container {
    text-align: center;
}

.recipe-card img {
    width: 100%;
    
    object-fit: contain;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.recipe-card h4 {
    font-size: 1.5rem;
    color: var(--color-black);
    font-weight: 700;
    margin: 0.5rem 0;
    text-align: center;
}

.recipe-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.recipe-info p {
    font-size: 1rem;
    color: var(--color-black);
    margin: 0.5rem 0;
}

@media only screen and (max-width: 539px) {

    .recipes {
        margin-top: 7rem;
    }

    .filter {
        top: 4.5rem;
        background-size: 60%;
    }

    .filter ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem;
    }
    
    .filter-btn {
        width: 4.4rem;
        font-size: 0.6rem;
        margin: 5px;
    }
    
    .btn-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }
    
    .cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .recipe-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {

    .recipes {
        margin-top: 7rem;
    }

    .filter {
        flex-direction: column;
        align-items: stretch;
        top: 5rem;
    }

    .filter-btn {
        width: 5.4rem;
        font-size: 0.6rem;
    }

    .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .recipe-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .recipes {
        margin-top: 7rem;
    }

    .filter {
        flex-direction: column;
        align-items: stretch;
        top: 5rem;
    }

    .filter-btn {
        width: 7.2rem;
    }

    .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
