*{
    font-family: 'Montserrat', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
#mensagem {
    resize: none; 
    height: 60px; 
    margin-top: -5px;
}
.section-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
    
}
main{
    background-color: #e1d0c100;
    display: flex;
    margin: 0;
    width: 100%;
    flex-grow: 1;
}
article{
    margin: 20px;
    width: 100%;
    
    
    bottom: 0;
    
}

.article-title{
    text-align: center;
    align-items: center;
    font-size: 35px;}

.contact-form {
    background-color: #f8f8f83d;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section {
    display: flex;
    height: 100vh;
}
  

label {
    display: block;
    font-weight: bold;
    font-size: 23px;
    color: #e7cab0f8;
}

input,
select,
textarea {
    width: 97%;
    padding: 7px;
    margin-bottom: 8px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}
#assunto{
    width: 99.5%;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: #FF8C00;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    width: 99.5%;
    transition: all 0.5s;
}

input[type="submit"]:hover {
    background-color: #5a463c;
}
.btn-return{
    
    background-color: #a5521b;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.5s; 
    margin-left: 14px;
    position: fixed;
    bottom: 10px;
    
}
.btn-return:hover {
    background-color: #5a463c;
}

img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: brightness(1) invert(1); 

}
label {
    display: flex; 
    align-items: center; 
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}



.article-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


p {
    text-align: center;
    margin-bottom: 10px; 
    font-size: 22px;
    color: #e7cab0f8;
    padding: 10px;
}

.mapa{
    width: 100%;
    border-radius: 3px;
    
    
}

footer{
    width: 100%;
    background-color: var(--color-header);
    
    bottom: 0;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
.footer-des{
    font-size: 10px;
}










