/* Meta */
@import url('../../css/global/global.css');


#mensagem {
    resize: none; 
    height: 60px; 
    margin-top: -5px;
}
.section-title{
    
    text-align: center;

    align-items: center;
    
    font-size: 1.5rem;
    font-weight: 700;
}
.sec1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.sec2{
    background-color: #e1d0c100;
    display: flex;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    
  justify-content: center;
  flex-wrap: wrap;
}

article{
   
    width: 40%;   
    
    flex: 1;
    margin: 20px;
    
    max-width: 750px; 
}

.article-title{
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact-form {
    background-color: #f8f8f859;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main{
    min-height: 100vh;
    
}



label {
    display: block;
    font-weight: bold;
    font-size: 23px;
    color: #e7cab0f8;
}

input,
select,
textarea {
    width: 97%;
    padding: 7px;
    margin-bottom: 8px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}
#assunto{
    width: 97%;
}

textarea {
    resize: none;
}

.btnenviar {
    background-color: #FF8C00;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    width: 97.5%;
    transition: all 0.5s;
}

.btnenviar:hover {
    background-color: #5a463c;
}
.btn-return{
    
    background-color: #a5521b;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.5s; 
    margin-left: 14px;
    position: fixed;
    bottom: 10px;
    
}
.btn-return:hover {
    background-color: #5a463c;
}

.contact-form img, .contatos img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: brightness(1) invert(1); 

}
.contact-form label {
    display: flex; 
    align-items: center; 
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}



.article-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.article2 .article-title{
    margin-top: 24px;
}


.contatos p {
    text-align: center;
    margin-bottom: 10px; 
    font-size: 22px;
    color: #e7cab0f8;
    padding: 10px;
}

.mapa{
    width: 100%;
    border-radius: 3px;
    height: 320px ;
    
}
.btn-green{
    background-color: rgb(3, 214, 3);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    width: 97.5%;
    transition: all 0.5s;
}


  
.success-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 50px;
    opacity: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: opacity 0.5s, transform 0.5s;
}
.success-message.show {
    display: block;
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.5s, transform 0.5s;
  }
  
@media only screen and (max-width: 1100px) {
    .section-title{
        margin-top: 40px;
    }
  }

@media only screen and (max-width: 1866px) {
    
    article{
    max-width: 700px; 
    }
}
@media only screen and (max-width: 1671px) {
    
    article{
    max-width: 600px; 
    }
}

@media only screen and (max-width: 1487px) {
    
    article{
    max-width: 500px; 
    }
}
@media only screen and (max-width: 1261px) {
    
    article{
    max-width: 400px; 
    }
}
@media only screen and (max-width: 1079px) {
    
    article{
    max-width: 300px; 
    }
}
@media only screen and (max-width: 1024px) {
    .btn-return {
      position: relative;
      
    }
  }

@media only screen and (max-width: 767px) {
    .sec2 {
      flex-direction: column;
      
    }
    .article2{
        border-top: solid whitesmoke 1px;
        border-radius: 5px;
        margin-top: 60px;
    }
    .article-title{
        margin-top: 60px;
    }
    article{
        width: 90%;
    }
  
    article {
      margin: 20px 0;
    }
}

@media only screen and (max-width: 548px) {
    .section-title{
        margin-top: 40px;
    }
    article{
        max-width: 290px; 
    }
  }
  



